.navcolor{
    background-color: rgb(0, 150, 136);
    height: 100px;
} 
.grigio {
    background-color: rgb(216, 219, 215);
}   

.barContainer{
    background-color: rgb(234, 234, 234);
}
barContatti{
    background-color: rgb(233, 235, 235);
}
