:root{
    --verde: rgb(0, 150, 136);
    --icone: rgb(177, 177, 177);
    --grigio: rgb(234, 234, 234);
    --azzurro: rgb(142, 218, 252);
    --nero: black; 
    --michele: rgb(233, 235, 235);
    --verdesms: rgb(213, 249, 186);
    --scrivi: rgb(243, 238, 234);
    --iconesmile: rgb(107, 115, 118);
}
#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.75deg, #009688 23.12%, #D9DBD5 23.13%);
}
#app > .my-container {
    height: 90%;
    width: 80%;
}
.icone{
    color: var(--icone);
}
.mycontact{
    background-color: rgb(234, 234, 234);
    height: 70px;
}
.sfondo-contat{
    background-color: var(--michele);
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.prova{
    border: 1px solid black; 
}

.border-lightgrey{
    border: 1px solid rgb(233, 235, 235);
}
.ricerca{
    background-color: white;
    height: 40px;
}
.notifiche{
    background-color: var(--azzurro);
    height: 80px;
}
.testo{
    color: rgb(188, 194, 203);
}
.message-wrapper{
    height: calc(100% - 140px);
    background: url(./img/mine.jpg);
    overflow: auto;
} 

.message{
    position: relative;
    min-height: 40%;
    max-width: 60%;
    font-size: 15px;
    margin: 5px 0px;
    padding: 15px 15px 20px;
    background: rgb(255,255,255);
    border-radius: 10px;
}
.chat{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.message.sent{
    background-color: var(--verdesms);
    align-self: flex-end;
}
.scrivi{
    background-color: var(--scrivi);
    height: 70px;
}
.iconesmile{
    color: var(--iconesmile);
}
.chat-wrapper{
    height: calc(100% - 190px);
    overflow: auto;
}