:root{
    --verde: rgb(0, 150, 136);
    --icone: rgb(177, 177, 177);
    --grigio: rgb(234, 234, 234);
    --azzurro: rgb(142, 218, 252);
    --nero: black; 
}
#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.75deg, #009688 23.12%, #D9DBD5 23.13%);
}
#app > .container {
    height: 90%;
}
.icone{
    color: var(--icone);
}
.mycontact{
    background-color: rgb(234, 234, 234);
    height: 70px;
}
.barContatti{
    background-color: rgb(233, 235, 235);
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.prova{
    border: 1px solid black; 
}

.border-lightgrey{
    border: 1px solid rgb(233, 235, 235);
}
.ricerca{
    background-color: white;
}
.notifiche{
    background-color: rgb(142, 218, 252);
}
.testo{
    color: rgb(188, 194, 203);
}

.messagge-wrapper{
    height: calc(100% - 140px);
    background: url(./img/mine.jpg);
    overflow: hidden;
} 
.messagge{
    position: relative;
    min-height: 40%;
    max-width: 60%;
    font-size: 15px;
    margin: 5px 0px;
    padding: 15px 15px 20px;
    background: rgb(255,255,255);
    border-radius: 10px;
}
.chat{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
